@charset "utf-8";

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: #fff; 
    background-color: #1a1a1a; /* Beautiful dark background color */
    min-height: 100vh;
    position: relative; 
}
  
.filmify-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    flex-direction: column; 
}
  
.filmify-content {
    text-align: center;
    margin-bottom: 30px; 
}
  
h1 {
    color: #bbbbbb;
    margin-top: 20px;
}
  
p,h2,h3,h4 {
    color: #cccaca;
    margin-bottom: 20px;
}
  
.filmify-search-dialog {
    width: 300px;
    margin: 0 auto;
    padding: 10px;
    background-color: #706f6f;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    display: none;
    position: absolute;
    z-index: 2; 
    left: 50%;
    transform: translateX(-50%);
    opacity: 0.9;
}
  
.filmify-search-dialog.visible {
    display: block;
}
.filmify-search-dialog:not(.visible) {
    display: none;
}
  
.filmify-search-dialog ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
  
.filmify-search-dialog ul li {
    padding: 10px;
    border-bottom: 1px solid #ccc;
}
  
.filmify-search-dialog ul li:last-child {
    border-bottom: none; 
}
  
.filmify-search-dialog ul li:hover {
    background-color: #f9f9f9; /* Hover background color */
    color: #333;
    cursor: pointer;
}
  
.filmify-input {
    padding: 10px;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
}
  
.filmify-create {
    padding: 10px 20px;
    background-color: #688db4;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
  
.filmify-create:hover {
    background-color: #0056b3;
}
  
.filmify-selected-movie {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height:400px;
    margin-right: 30px;
    margin-left:30px;
}
  
.filmify-selected-movie-poster img {
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    max-width: 300px; /* Limit image width to container size */
    height: 400px; /* Maintain aspect ratio */
    overflow: hidden;
}
  
  
.filmify-selected-movie-details {
    margin-left: 20px;
    text-align: left;
    margin-top: 100px;
}
  
.filmify-selected-movie-details h2 {
    color: #e2dfdf;
    font-size: 24px;
    margin: 0 0 5px;
}
  
.filmify-year-running-time {
    color: #555;
    font-size: 14px;
    margin-bottom: 10px;
}
  
.filmify-genre {
    display: inline-block;
    padding: 5px 10px;
    margin-right: 5px;
    margin-bottom: 5px;
    font-size: 12px;
    color: #fff;
    background-color: #007bff;
    border-radius: 3px;
}
  
.footer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
    font-size: 14px;
}